.blog-container{
    display: flex;
    flex-direction: row;
    gap: 20px ;
    font-size: 16px;
    flex-wrap: wrap;

    .blog {
        border: 1px solid grey;
        border-radius: 2px;
        padding: 10px;
        margin: 0px 10px;
        width: 440px;
        text-align: left !important;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .body{
        padding: 10px 0px;
    }
}


.blog-detail {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
    margin: 10px;
    min-height: 100px;
}

.btn-addNew {
    margin: 20px 0px;
    padding: 6px;
    text-decoration: none;
    color: #333;
    display: block;
    background-color: white;
    cursor: pointer;
}

.add-new-container {
    width: 400px;
    font-size: 14px;
    border: 1px solid grey;
    margin: 0 auto;
    .form-item{
        padding: 5px;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
    }

    .btn-addNew{
        margin: 20px auto;
    }
}